<h1 class='center-align'>Welcome to Nibble</h1>

<div class="row">
<% restaurants.forEach(restaurant => { %>
    <div class="card medium col s12 m6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= restaurant.img %>">
          </div>
          <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= restaurant.restaurantName %><i class="material-icons right">more_vert</i></span>
          <p><i class="material-icons icon-green">thumb_up</i><%= restaurant.upVotes %></p>
          <p><i class="material-icons icon-red">thumb_down</i><%= restaurant.downVotes %></p>
          <p><a href="/restaurant/<%= restaurant._id %>">View Restuarant</a></p>
          </div>
          <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= restaurant.restaurantName %><i class="material-icons right">close</i></span>
          <p>Cuisine: <%= restaurant.cuisine %></p>
          <p>City: <%= restaurant.city %></p>
          <p><a href="/restaurant/<%= restaurant._id %>">View Restuarant</a></p>
          </div>
        </div>
<% }) %>
</div>
