<h1>Viewing Restuarant profile</h1>

<h2>The restaurant id is <%= user.id %></h2>

<h2>The locals user id is <%= locals.user.id %> %></h2>
<h2>The user is logged in is <%= locals.isLoggedIn %> %></h2>


<h2>Locals is <%= locals.user %> %></h2>


<h2><%= user.name %></h2>
<div>
  <form class="" action="/users/<%= user._id %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" id="name_field" value="<%= user.name %>">
    <label for="name_field">Name</label>

    <input type="text" name="email" id="email_field" value="<%= user.email %>">
    <label for="email_field">email</label>

    <input type="text" name="address" id="address_field" value="<%= user.address %>">
    <label for="address_field">address</label>

    <input type="text" name="city" id="city_field" value="<%= user.city %>">
    <label for="city_field">city</label>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="passwordConfirmation">Password Confirmation</label>
      <input type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>

    <button>SAVE</button>

  </form>

<form action="/users/<%= user.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button>DELETE PROFILE</button>
</form>

</div>
