<h1>Edit profile</h1>
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="<%= user.profileImg %>" alt="" class="circle responsive-img">
      </div>
      <div class="col s6">
        <span class="black-text">
          <%= user.name %>
        </span>
      </div>
    </div>
  </div>
</div>

<div>
  <form class="" action="/users/<%= user._id %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" id="name_field" value="<%= user.name %>">
    <label for="name_field">Name</label>

    <input type="text" name="email" id="email_field" value="<%= user.email %>">
    <label for="email_field">email</label>

    <input type="text" name="address" id="address_field" value="<%= user.address %>">
    <label for="address_field">address</label>

    <input type="text" name="city" id="city_field" value="<%= user.city %>">
    <label for="city_field">city</label>

    <input type="text" name="profileImg" id="profileImg" value="<%= user.profileImg %>">
    <label for="profileImg">Profile Picture</label>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="passwordConfirmation">Password Confirmation</label>
      <input type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>

    <button>SAVE</button>

  </form>

<form action="/users/<%= user.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button>DELETE PROFILE</button>
</form>

</div>
