<h1>Show profile</h1>

<a href='/users/<%= user._id %>/edit'>Edit profile</a>


<p><%= user.id %></p>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.password %></p>
<p><%= user.isRestuarant %></p>
<p><%= user.address %></p>
<p><%= user.city %></p>
<p><%= user.cuisine %></p>
<p><%= user.comments %></p>
