<div class="container">
<h3 class="customtext center-align">My profile</h3>
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="row valign-wrapper">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="col s12 m6 l6">
        <img src="<%= user.profileImg %>" alt="" class="circle responsive-img">
      </div>
      <div class="col s12 m6 l6">
        <h4 class="customtext">
          <%= user.name %>
        </h4>
        <div class="col m12">
          <a class="custommargin waves-effect waves-light blue btn" href='/users/<%= user._id %>/edit'><i class="material-icons left">edit</i>Edit profile</a>
        </div>
        <div class="col m12">
          <a class="custommargin waves-effect waves-light orange btn" href='/'><i class="material-icons left">home</i>Return to Homepage</a>
        </div>
        <div class="col m12">
          <a class="custommargin waves-effect waves-light purple btn" href='/user/<%= user._id %>/myreviews'><i class="material-icons left">home</i>My Reviews</a>
        </div>
        <div class="col m12">
          <form action="/users/<%= user.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="custommargin waves-effect waves-light red btn"><i class="material-icons left">delete</i>Delete Profile</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
