<h1>Viewing Restuarant profile in show</h1>

<h2>The restaurant id is <%= restaurant.id %></h2>
<% if(locals.isLoggedIn){ %>
  <h2>The user  id is <%= user._id %> %></h2>
  <h2>The user is logged in is <%= user._id %> %></h2>
  <% } %>

<h2>User ID is <%= user._id %> %></h2>


<h2><%= restaurant.restaurantName %></h2>
<p><%= restaurant.address %></p>
<p><%= restaurant.city %></p>
<p><%= restaurant.cuisine %></p>
<% restaurant.comments.forEach(comments => { %>
    <li>This was the comment - <%= comments.comment %></li>
    <li>This was the id who made it<%= comments.userId %></li>
  <% }) %>
<hr>
<form class="" action="/restaurant/<%= restaurant._id %>" method="POST">
  <input type="text" name="comment" id="comment" value="">
  <label for="comment">comments</label>
  <input type="hidden" name="userId" value="<%= user._id %>">
  <button>Submit</button>
</form>
<hr>

<a href='/restaurant/<%= restaurant._id %>/edit'>Edit Restaurant</a>

</div>
